.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #423ab4, #f50000, #fcd145, #b345fc)
    47% 0%;
}
